<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn" >
				<i class="fa fa-bars"></i>
				<span><button class="grey-button" type="button"> sections</button></span>
			</li>
			<li id="search-modal-btn" >
				<i class="fa fa-search"></i>
				<span><button class="grey-button" type="button"> search</button></span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
	<ul>
			<li id="subscribe-btn"> 
				<span><button type="button">Subscribe Now</button></span>
			</li>
			<li id="log-in-btn"> 
				<span><button type="button">Log in</button></span>
			</li>
			<li id="gear-icon" >
				<span><button class="grey-button" type ="button"><i class="fas fa-cog"></button></i></span>
			</li>
	</ul>
	</nav>
</header>



